.App {
  display: flex;
}
.card {
  display: flex;
  background-color: #f8f4f4;
  border: 1px solid#000;
  margin: 30px;
  margin-top: 8px;
  border-radius: 5px;
  justify-content: space-between;
  height: 74px;
  padding-right: 12px;
}
.img {
  height: 40px;
  width: 40px;
}
.imagelink1 {
  animation: pulsate 2s infinite;
}
